

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, p, body, input {
  font-family:'OTWelcomeRA';  
}


@font-face {
  font-family: "Apple_Text";
  src: url("./font/SF-Pro-Text-Medium.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}